<div>
    <div class="flex">
        <div>
            Humidy: {{vm.humidiy}}
        </div>

        <div>
            Pressure: {{vm.pressureMb}}
        </div>

        <div>
            Feels like : {{vm.feelsLikeC}}
        </div>
      
    </div>
    
    <div class="flex">
        <div>
            Cloud: {{vm.cloudCover}}
        </div>

        <div>
            Windspeed: {{vm.windSpeedKph}}, direction {{vm.windDirection}}
        </div>

        <div>
            UV index: {{vm.uvIndex}}
        </div>
    </div>
</div>

