<div class="weather-container flex border rounded  border-1 border-black p-3">

    <div class="flex-1 w-2/3 flex flex-col">

        <div class="border row-end-1 col-start-1 col-end-7 h-16">
         <app-city-selector></app-city-selector>
        </div>

        <div class="border row-start-2 col-span-9 h-4/6">
            <app-current-weather></app-current-weather>
        </div>

        <div class="border  h-2/6">
           <app-extra-weather></app-extra-weather>
        </div>
    </div>

    <div class="flex-none w-1/3">
        <div class="border row-start-1 col-start-9 h-full col-span-9">
            <app-forecast></app-forecast>
        </div>
    </div>

</div>