<div>
    <div class="relative">
        <input type="text" [formControl]="cityNameControl" (keydown.enter)="onEnterCityNameHandler()">
        <div *ngIf="cityList" class="absolute w-full bg-white rounded">
            <div *ngFor="let city of cityList.availableCities" (click)="onClickCityNameHandler(city.coordinates)">
                <div class="cursor-pointer">
                    {{city.name}}
                    {{city.country}}
                </div>
            </div>
        </div>
    </div>
</div>
