
    <div class="relative flex items-center h-full ">

        <input class="h-10 w-72 rounded bg-slate-600 p-2 text-white" type="text" placeholder="Search city" [formControl]="cityNameControl" (keydown.enter)="onEnterCityNameHandler()">

        <div *ngIf="cityList" class=" city-list absolute  pt-2 pr-2 pl-2 bg-slate-600 rounded w-72">
            <div *ngFor="let city of cityList.availableCities" (click)="onClickCityNameHandler(city.coordinates)">
                <div class="cursor-pointer rounded bg-slate-700  p-2 mb-2 text-white">
                    <div>
                        {{city.name}} ({{city.country}})

                    </div>
                </div>
            </div>
        </div>
    </div>

