<div>
    <div *ngFor="let day of vm.days">
        {{day.date}}
            <div class="flex">
                <div>
                    Max temp {{day.maxTempCelsius}}
                </div>
                <div>
                    Min temp {{day.minTempCelsius}}
                </div>
                <div>
                    Average temp {{day.averageTempCelsius}}
                </div>
                <div>
                    <img [src]="day.iconUrl" alt="" srcset="">
                    {{day.description}}
                </div>
            </div>
      
        ---
    </div>  
</div>
